<div class="container">
    {{#each erros}}
        <div class="alert alert-error">{{msg}}</div>
    {{else}}

    {{/each}}
    <h3 class="user-title">Nova categoria:</h3>

    <div class="card mt-4">
        <div class="card-content">
            <form action="/admin/categorias/nova" method="POST">

                <Label for="nome" class="form-label">Nome:</Label>
                    <input type="text" class="form-input" id="nome" name="nome" placeholder="Nome da categoria" class="form-control">
                    
                <label for="slug" class="form-label">Slug:</label>
                    <input type="text" class="form-input" id="slug" name="slug" placeholder="Nome do slug" class="form-control">
                
                    <button type="submit" class="btn btn-orange mt-4">Criar categoria</button>
            </form>
        </div>
    </div>
</div>