@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import 'settings';

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    height: 4000px;
}
a{
    text-decoration: none;
}
button{
    border-radius: $very-small; 
    border: none;
    cursor: pointer;
}
// classes de conteudo de criação servidor

.btn-orange{
    background-color: $orange;
    color: $white;
}
.btn-shape{
    padding: $small $medium;
}

.alert{
    padding: $medium;
    margin-bottom: $medium;
    border-radius: 5px;
}
.alert-success{
    background-color: #D5FFDC;
    color: darkgreen;
    border: 1px solid darkgreen;
}
.alert-error{
    background-color: #FFD5D5;
    color: darkred;
    border: 1px solid darkred;
}

