@import "settings";
@import "tools";

header{
    height: 10vh;
}
.container {
    .navbar{
        display: flex;
        align-items: center;
    }
    .navbar .navbar-logo img{
        width: 4.06em; 
        height: auto;
    }
    .navbar .navbar-content{
        display: flex;
        margin: 0 auto;
    }
    .navbar .navbar-content .item a{
        text-transform: uppercase;
        color: $gray;
        font-weight: bold;
        padding: 0 $large;
    }
}
/* carousel */

.carousel-container{
    position: relative;
    .carousel-img img{
        padding: 0;
    }
    .carousel-content{
        color: $white;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        text-align: center;
    }
    .carousel-content .carousel-btn{
        border: none;
        color: $white;
        font-size: 1.1em;
        margin-bottom: $medium; 
    
    }
    .carousel-content .carousel-title{
        font-size: 2em;
        margin-bottom: $small;
    }

    .carousel-content .post-info li{
        @include info-spacing;
    }
}

/* posts */
.posts-container, .aside-container{
    background-color: $light-gray;
    padding: 0;
}
.posts-container{
    .post-content{
        position: relative;
        text-align: center;    
        border-bottom: 1px dashed #ccc;  
        margin: 0;
        padding-bottom: $large;  
    }
    .post-content img{
        margin-top: $very-large;
        padding: 0;
    }
    .post-content .post-title{
       font-size: 1.4em;
       color: $title-gray;
       margin-top: $medium;
    }
    .post-content .post-description{
        margin-top: $large;
        color: $text-gray;
    }
    .post-content .post-info{
        margin-top: $medium;
        color: $gray;
    }
    .post-content .post-info li{
        @include info-spacing;
    }
    .post-content .read-more{
        text-transform: uppercase;
        color: $orange;
        margin-top: $extreme-large;
        display: flex;
        justify-content: flex-end;
    }
    .post-content .read-more::after{
        content: '';
        display: inline-block;
        width: 15px;
        height: auto;
        background-size: contain;
        background-image: url("/images/right-arrow.png");
        margin-left: $small;
    }
}

/* aside */

.aside-container{
    .aside-content .aside-post{
        clear: both;
    }
    .aside-content .aside-title{
       color: $orange;
       text-transform: uppercase;
       padding-left: $very-small;
       padding-bottom: $medium;
       margin-top: $medium;
       margin-bottom: $extreme-large;
       border-bottom: 1.5px solid $orange;
    }
    .aside-content .aside-post img{
        float: left;
        margin-bottom: $medium;
    }
    .aside-content .aside-post .post-info{
        margin-top: $very-small;
        float: right;
        width: 60%;
    }
    .aside-content .aside-post .post-info li{
        color: $gray;
        display: inline-block;
        font-size: 0.8em;
        padding: 0 2px;
    }
    .aside-content .popular-title{
        margin-top: $small;
        float: right;
        width: 55%;
    }
}

