/* variaveis de cores */

$white: #fff;
$black: #000;
$orange: #ff4141;
$gray: #919192;



/* variaveis de espaço */

$very-small: 0.3em;
$small: 0.6em;
$medium: 0.9em;
$large: 1.25em;
$very-large: 1.56em;
$super-large: 1.87em;
$extreme-large: 2.5em;








