/* variaveis de cores */

$white: #fff;
$black: #333;
$orange: #ff4141;
$light-green: #90EE90;
$light-red: #ef8e8e;
$dark-green: #134900;
$dark-red: #710000;
$gray: #919192;
$title-gray: #4d4f5c;
$text-gray: #7c7c91;
$light-gray: #f8f8f8;


/* variaveis de espaço */

$very-small: 0.3em;
$small: 0.6em;
$medium: 0.9em;
$large: 1.25em;
$very-large: 1.56em;
$super-large: 1.87em;
$extreme-large: 2.5em;








