<header>
    <div class="container">
        <div class="row">
                <nav class="navbar col-12">
                
                    <a href="" class="navbar-logo">
                        <img src="/images/logo.png" alt="logo do blog">
                    </a>

                        <ul class="navbar-content">

                            <li class="item">
                                <a href="#">Início</a>
                            </li>
                            <li class="item">
                                <a href="#">Estilo de vida</a>
                            </li>
                            <li class="item">
                                <a href="#">Viagem</a>
                            </li>
                            <li class="item">
                                <a href="#">Fotos</a>
                            </li>
                            <li class="item">
                                <a href="#">Contato</a>
                            </li>
                            <li class="item">
                                <a href="#">Entrar</a>
                            </li>
                            <li class="item">
                                <a href="#">Cadastrar</a>
                            </li>

                    </ul>
            </nav>
        </div>
    </div>

</header>