<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Blog</title>

    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <link rel="stylesheet" href="/css/tools.css">
    <link rel="stylesheet" href="/css/generic.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/objects.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/trumps.css">
</head>
<body>
    {{>_navbar}}
    <div class="container-fluid">
        <div class="container">
            {{#if error}}
                  <div class="alert alert-error">{{error}}</div>
            {{else}}

            {{/if}}
            {{>_msgs}}
        </div>
        {{{body}}}
    </div>
</body>

<script src="/js/slide.js"></script>
</html>