<div class="carousel-container">
    <div class="row">
        <div class="carousel-img">
            <h1><img src="/images/Slide1.jpg" alt="Boo blog" class="col-12"></h1>
        </div>
            <div class="carousel-content col-5">

                <button class="carousel-btn">Hi-Tech</button>

                <h2 class="carousel-title">Certainty listening no behaviour existence assurance situation</h2>
                
                <ul class="post-info">
                    <li>Criador</li>
                    <li>Data</li>
                    <li>Comentarios</li>
                    <li>Visitas</li>
                </ul>

            </div>   
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-around">
        <section class="posts-container col-7">
            <article class="post-content">

                <img src="/images/post2.jpg" alt="" class="col-12">

                    <h1 class="post-title">Certainty listening no behaviour existence assurance situation</h1>

                    <ul class="post-info">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>

                    <h2 class="post-description">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</h2>

                    <a href="" class="read-more">Ler mais</a>                    

            </article>

        </section>

        <aside class="aside-container col-4">
            <div class="popular-posts">
                <h2 class="aside-title">Popular posts</h2>

                <img src="" alt="">

                    <h1>Certainty listening no behaviour existence assurance situation</h1>

                    <ul class="post-info">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>
            </div>
            
        </aside>  
    </div>
</div>


