<div class="carousel-container">
    <div class="row">
        <div class="carousel-img">
            <h1><img src="/images/Slide1.jpg" alt="Boo blog" class="col-12"></h1>
        </div>
            <div class="carousel-content col-5">

                <button class="carousel-btn btn-orange">Hi-Tech</button>

                <h2 class="carousel-title">Certainty listening no behaviour existence assurance situation</h2>
                
                <ul class="post-info">
                    <li>Criador</li>
                    <li>Data</li>
                    <li>Comentarios</li>
                    <li>Visitas</li>
                </ul>

            </div>   
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-around">

        <section class="posts-container col-12 col-sm-7">

            <article class="post-content">

                <img src="/images/post2.jpg" alt="" class="col-12">

                    <h1 class="post-title">Certainty listening no behaviour existence assurance situation</h1>

                    <ul class="post-info">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>

                    <h2 class="post-description">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</h2>

                    <a href="" class="read-more">Ler mais</a>                    

            </article>

            <article class="post-content">

                <img src="/images/post2.jpg" alt="" class="col-12">

                    <h1 class="post-title">Certainty listening no behaviour existence assurance situation</h1>

                    <ul class="post-info">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>

                    <h2 class="post-description">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</h2>

                    <a href="" class="read-more">Ler mais</a>                    

            </article>

            <article class="post-content">

                <img src="/images/post2.jpg" alt="" class="col-12">

                    <h1 class="post-title">Certainty listening no behaviour existence assurance situation</h1>

                    <ul class="post-info">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>

                    <h2 class="post-description">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</h2>

                    <a href="" class="read-more">Ler mais</a>                    

            </article>

            <article class="post-content">

                <img src="/images/post2.jpg" alt="" class="col-12">

                    <h1 class="post-title">Certainty listening no behaviour existence assurance situation</h1>

                    <ul class="post-info">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>

                    <h2 class="post-description">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</h2>

                    <a href="" class="read-more">Ler mais</a>                    

            </article>

            <article class="post-content">

                <img src="/images/post2.jpg" alt="" class="col-12">

                    <h1 class="post-title">Certainty listening no behaviour existence assurance situation</h1>

                    <ul class="post-info">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>

                    <h2 class="post-description">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire</h2>

                    <a href="" class="read-more">Ler mais</a>                    

            </article>

        </section>

        <aside class="aside-container col-12 col-sm-4">

            <div class="aside-content popular-posts">
                <h2 class="orange-title">Popular posts</h2>

                        <div class="aside-post">
                            
                                <img src="/images/aside-post2.jpg" alt="" class="col-4">

                                <h3 class="popular-title col-8">Certainty listening no behaviour existence assurance situation</h3>
                            

                            <ul class="post-info col-8">
                                    <li>Criador</li>
                                    <li>Data</li>
                                    <li>Comentarios</li>
                                    <li>Visitas</li>
                            </ul>
                        </div>

                        <div class="aside-post">
                            
                                <img src="/images/aside-post2.jpg" alt="" class="col-4">

                                <h3 class="popular-title col-8">Certainty listening no behaviour existence assurance situation</h3>
                            

                            <ul class="post-info col-8">
                                    <li>Criador</li>
                                    <li>Data</li>
                                    <li>Comentarios</li>
                                    <li>Visitas</li>
                            </ul>
                        </div>

                        <div class="aside-post">
                            
                                <img src="/images/aside-post2.jpg" alt="" class="col-4">

                                <h3 class="popular-title col-8">Certainty listening no behaviour existence assurance situation</h3>
                            

                            <ul class="post-info col-8">
                                    <li>Criador</li>
                                    <li>Data</li>
                                    <li>Comentarios</li>
                                    <li>Visitas</li>
                            </ul>
                        </div>

                        <div class="aside-post">
                            
                                <img src="/images/aside-post2.jpg" alt="" class="col-4">

                                <h3 class="popular-title col-8">Certainty listening no behaviour existence assurance situation</h3>
                            

                            <ul class="post-info col-8">
                                    <li>Criador</li>
                                    <li>Data</li>
                                    <li>Comentarios</li>
                                    <li>Visitas</li>
                            </ul>
                        </div>

            </div>

            <div class="aside-content our-pics">
                <h2 class="orange-title">Our pics</h2>

                <div class="aside-pic">

                    <div class="pic-img">
                        <img src="/images/pics1.jpg" alt="" class="col-12">
                        <button class="btn-pics btn-orange">Pothograph</button>
                    </div>
 
                    <h3 class="pic-title col-12">Certainty listening no behaviour existence assurance situation</h3>

                    <ul class="post-info col-8">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>
                </div>

                <div class="aside-pic">

                    <div class="pic-img">
                        <img src="/images/pics1.jpg" alt="" class="col-12">
                        <button class="btn-pics btn-orange">Pothograph</button>
                    </div>
 
                    <h3 class="pic-title col-12">Certainty listening no behaviour existence assurance situation</h3>

                    <ul class="post-info col-8">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>
                </div>

                <div class="aside-pic">

                    <div class="pic-img">
                        <img src="/images/pics1.jpg" alt="" class="col-12">
                        <button class="btn-pics btn-orange">Pothograph</button>
                    </div>
 
                    <h3 class="pic-title col-12">Certainty listening no behaviour existence assurance situation</h3>

                    <ul class="post-info col-8">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>
                </div>

                <div class="aside-pic">

                    <div class="pic-img">
                        <img src="/images/pics1.jpg" alt="" class="col-12">
                        <button class="btn-pics btn-orange">Pothograph</button>
                    </div>
 
                    <h3 class="pic-title col-12">Certainty listening no behaviour existence assurance situation</h3>

                    <ul class="post-info col-8">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>
                </div> 
            </div>

            <div class="aside-content categorias">
                <h2 class="orange-title">Categorias</h2>

                <ul class="aside-cate">
                    <li class="cate-item"><a href="">Estilo de vida  <span class="cate-num">(3)</span></a></li>
                    <li class="cate-item"><a href="">Estilo de vida  <span class="cate-num">(3)</span></a></li>
                    <li class="cate-item"><a href="">Estilo de vida  <span class="cate-num">(3)</span></a></li>
                    <li class="cate-item"><a href="">Estilo de vida  <span class="cate-num">(3)</span></a></li>
                    <li class="cate-item"><a href="">Estilo de vida  <span class="cate-num">(3)</span></a></li>
                    <li class="cate-item"><a href="">Estilo de vida  <span class="cate-num">(3)</span></a></li>
                    
                </ul>
            </div>

            <div class="aside-content random-post">
                <h2 class="orange-title">Random post</h2>

                <div class="aside-pic">

                    <div class="pic-img">
                        <img src="/images/sport1.jpg" alt="" class="col-12">
                        <button class="btn-pics btn-orange">Sports</button>
                    </div>
 
                    <h3 class="pic-title col-12">Certainty listening no behaviour existence assurance situation</h3>

                    <ul class="post-info col-8">
                            <li>Criador</li>
                            <li>Data</li>
                            <li>Comentarios</li>
                            <li>Visitas</li>
                    </ul>
                </div> 

            </div>

            <div class="aside-content tags-list">
                <h2 class="orange-title">Tags</h2>
    
                <div class="aside-tags">
                        <a href="#" class="tag">tagasas</a>
                        <a href="#" class="tag">tagdfds</a>
                        <a href="#" class="tag">tagsds</a>
                        <a href="#" class="tag">tasdsdg</a>
                        <a href="#" class="tag">tsdsdag</a>
                        <a href="#" class="tag">tdsdag</a>
                        <a href="#" class="tag">tasdsdg</a>
                        <a href="#" class="tag">tasdsg</a>
                        <a href="#" class="tag">tadsdg</a>
                        <a href="#" class="tag">sddsdsdsd</a>
                        <a href="#" class="tag">tagsdsd</a>
                        <a href="#" class="tag">tasdsdg</a>
                        <a href="#" class="tag">tasdsg</a>
                        <a href="#" class="tag">tadsdg</a>
                        <a href="#" class="tag">sddsds</a>
                        <a href="#" class="tag">tagsdsd</a>
                </div> 

            </div>
            
            <div class="aside-content survey-content">
                <h2 class="orange-title">Survey</h2>

                    <h4 class="survey-title">Qual é sua cor favorita?</h4>

                        <form action="" method="post">

                                <label class="survey-wrap">
                                    <input type="radio" name="color" id="color" value="red">
                                    Red
                               </label>

                               <label class="survey-wrap">
                                    <input type="radio" name="color" id="color" value="blue">
                                    Blue
                               </label>

                               <label class="survey-wrap">
                                    <input type="radio" name="color" id="color" value="green">
                                    Green
                               </label>

                               <label class="survey-wrap">
                                    <input type="radio" name="color" id="color" value="yellow">
                                    Yellow
                               </label>

                               <label class="survey-wrap">
                                    <input type="radio" name="color" id="color" value="other">
                                    Other
                               </label>
                            
                        <button type="submit" class="btn-survey btn-orange">Vote</button>

                        <a href="" class="survey-result">View Results</a>
                    </form>
              
            </div>
            
        </aside>  
    </div>
</div>


