<div class="container">

    <div class="card">

        <div class="card-content">
            <h1>{{posting.title}}</h1>
            <hr>
            <small>Data de publicação: {{posting.date}}</small>
            <hr>
            <p>{{posting.content}}</p>
        </div>
        
    </div>
    
</div>